xml-resources/web-service-references/musicorum/wsdl/musicarum.com_8080/WSMusicorum/musicorum.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://process/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://process/" name="musicorum">
<types>
<xsd:schema>
<xsd:import namespace="http://process/" schemaLocation="http://musicarum.com:8080/WSMusicorum/musicorum?xsd=1" />
</xsd:schema>
</types>
<message name="getUnidadesByAlumno">
<part name="parameters" element="tns:getUnidadesByAlumno" />
</message>
<message name="getUnidadesByAlumnoResponse">
<part name="parameters" element="tns:getUnidadesByAlumnoResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="getGrupoById">
<part name="parameters" element="tns:getGrupoById" />
</message>
<message name="getGrupoByIdResponse">
<part name="parameters" element="tns:getGrupoByIdResponse" />
</message>
<message name="addEjercicio">
<part name="parameters" element="tns:addEjercicio" />
</message>
<message name="addEjercicioResponse">
<part name="parameters" element="tns:addEjercicioResponse" />
</message>
<message name="getEjercicioFile">
<part name="parameters" element="tns:getEjercicioFile" />
</message>
<message name="getEjercicioFileResponse">
<part name="parameters" element="tns:getEjercicioFileResponse" />
</message>
<message name="getEjercicioById">
<part name="parameters" element="tns:getEjercicioById" />
</message>
<message name="getEjercicioByIdResponse">
<part name="parameters" element="tns:getEjercicioByIdResponse" />
</message>
<message name="addGruposPorProfesor">
<part name="parameters" element="tns:addGruposPorProfesor" />
</message>
<message name="addGruposPorProfesorResponse">
<part name="parameters" element="tns:addGruposPorProfesorResponse" />
</message>
<message name="getEjerciciosByAlumno">
<part name="parameters" element="tns:getEjerciciosByAlumno" />
</message>
<message name="getEjerciciosByAlumnoResponse">
<part name="parameters" element="tns:getEjerciciosByAlumnoResponse" />
</message>
<message name="getEstadisticas">
<part name="parameters" element="tns:getEstadisticas" />
</message>
<message name="getEstadisticasResponse">
<part name="parameters" element="tns:getEstadisticasResponse" />
</message>
<message name="getEjercicioTotal">
<part name="parameters" element="tns:getEjercicioTotal" />
</message>
<message name="getEjercicioTotalResponse">
<part name="parameters" element="tns:getEjercicioTotalResponse" />
</message>
<message name="getEjercicioExitos">
<part name="parameters" element="tns:getEjercicioExitos" />
</message>
<message name="getEjercicioExitosResponse">
<part name="parameters" element="tns:getEjercicioExitosResponse" />
</message>
<message name="addEjerciciosPorAlumno">
<part name="parameters" element="tns:addEjerciciosPorAlumno" />
</message>
<message name="addEjerciciosPorAlumnoResponse">
<part name="parameters" element="tns:addEjerciciosPorAlumnoResponse" />
</message>
<message name="getEjercicios">
<part name="parameters" element="tns:getEjercicios" />
</message>
<message name="getEjerciciosResponse">
<part name="parameters" element="tns:getEjerciciosResponse" />
</message>
<message name="addEscuela">
<part name="parameters" element="tns:addEscuela" />
</message>
<message name="addEscuelaResponse">
<part name="parameters" element="tns:addEscuelaResponse" />
</message>
<message name="deleteAlumno">
<part name="parameters" element="tns:deleteAlumno" />
</message>
<message name="deleteAlumnoResponse">
<part name="parameters" element="tns:deleteAlumnoResponse" />
</message>
<message name="addUnidad">
<part name="parameters" element="tns:addUnidad" />
</message>
<message name="addUnidadResponse">
<part name="parameters" element="tns:addUnidadResponse" />
</message>
<message name="updateAlumno">
<part name="parameters" element="tns:updateAlumno" />
</message>
<message name="updateAlumnoResponse">
<part name="parameters" element="tns:updateAlumnoResponse" />
</message>
<message name="getAlumnos">
<part name="parameters" element="tns:getAlumnos" />
</message>
<message name="getAlumnosResponse">
<part name="parameters" element="tns:getAlumnosResponse" />
</message>
<message name="getEscuelas">
<part name="parameters" element="tns:getEscuelas" />
</message>
<message name="getEscuelasResponse">
<part name="parameters" element="tns:getEscuelasResponse" />
</message>
<message name="getProfesor">
<part name="parameters" element="tns:getProfesor" />
</message>
<message name="getProfesorResponse">
<part name="parameters" element="tns:getProfesorResponse" />
</message>
<message name="checkUsername">
<part name="parameters" element="tns:checkUsername" />
</message>
<message name="checkUsernameResponse">
<part name="parameters" element="tns:checkUsernameResponse" />
</message>
<message name="escuelaLogin">
<part name="parameters" element="tns:escuelaLogin" />
</message>
<message name="escuelaLoginResponse">
<part name="parameters" element="tns:escuelaLoginResponse" />
</message>
<message name="addAlumno">
<part name="parameters" element="tns:addAlumno" />
</message>
<message name="addAlumnoResponse">
<part name="parameters" element="tns:addAlumnoResponse" />
</message>
<message name="getUnidades">
<part name="parameters" element="tns:getUnidades" />
</message>
<message name="getUnidadesResponse">
<part name="parameters" element="tns:getUnidadesResponse" />
</message>
<message name="getUnidadById">
<part name="parameters" element="tns:getUnidadById" />
</message>
<message name="getUnidadByIdResponse">
<part name="parameters" element="tns:getUnidadByIdResponse" />
</message>
<message name="addGrupo">
<part name="parameters" element="tns:addGrupo" />
</message>
<message name="addGrupoResponse">
<part name="parameters" element="tns:addGrupoResponse" />
</message>
<message name="deleteGrupo">
<part name="parameters" element="tns:deleteGrupo" />
</message>
<message name="deleteGrupoResponse">
<part name="parameters" element="tns:deleteGrupoResponse" />
</message>
<message name="getGruposByEscuela">
<part name="parameters" element="tns:getGruposByEscuela" />
</message>
<message name="getGruposByEscuelaResponse">
<part name="parameters" element="tns:getGruposByEscuelaResponse" />
</message>
<message name="getGruposByProfesor">
<part name="parameters" element="tns:getGruposByProfesor" />
</message>
<message name="getGruposByProfesorResponse">
<part name="parameters" element="tns:getGruposByProfesorResponse" />
</message>
<message name="register">
<part name="parameters" element="tns:register" />
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse" />
</message>
<portType name="musicorum">
<operation name="getUnidadesByAlumno">
<input wsam:Action="http://process/musicorum/getUnidadesByAlumnoRequest" message="tns:getUnidadesByAlumno" />
<output wsam:Action="http://process/musicorum/getUnidadesByAlumnoResponse" message="tns:getUnidadesByAlumnoResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://process/musicorum/loginRequest" message="tns:login" />
<output wsam:Action="http://process/musicorum/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="getGrupoById">
<input wsam:Action="http://process/musicorum/getGrupoByIdRequest" message="tns:getGrupoById" />
<output wsam:Action="http://process/musicorum/getGrupoByIdResponse" message="tns:getGrupoByIdResponse" />
</operation>
<operation name="addEjercicio">
<input wsam:Action="http://process/musicorum/addEjercicioRequest" message="tns:addEjercicio" />
<output wsam:Action="http://process/musicorum/addEjercicioResponse" message="tns:addEjercicioResponse" />
</operation>
<operation name="getEjercicioFile">
<input wsam:Action="http://process/musicorum/getEjercicioFileRequest" message="tns:getEjercicioFile" />
<output wsam:Action="http://process/musicorum/getEjercicioFileResponse" message="tns:getEjercicioFileResponse" />
</operation>
<operation name="getEjercicioById">
<input wsam:Action="http://process/musicorum/getEjercicioByIdRequest" message="tns:getEjercicioById" />
<output wsam:Action="http://process/musicorum/getEjercicioByIdResponse" message="tns:getEjercicioByIdResponse" />
</operation>
<operation name="addGruposPorProfesor">
<input wsam:Action="http://process/musicorum/addGruposPorProfesorRequest" message="tns:addGruposPorProfesor" />
<output wsam:Action="http://process/musicorum/addGruposPorProfesorResponse" message="tns:addGruposPorProfesorResponse" />
</operation>
<operation name="getEjerciciosByAlumno">
<input wsam:Action="http://process/musicorum/getEjerciciosByAlumnoRequest" message="tns:getEjerciciosByAlumno" />
<output wsam:Action="http://process/musicorum/getEjerciciosByAlumnoResponse" message="tns:getEjerciciosByAlumnoResponse" />
</operation>
<operation name="getEstadisticas">
<input wsam:Action="http://process/musicorum/getEstadisticasRequest" message="tns:getEstadisticas" />
<output wsam:Action="http://process/musicorum/getEstadisticasResponse" message="tns:getEstadisticasResponse" />
</operation>
<operation name="getEjercicioTotal">
<input wsam:Action="http://process/musicorum/getEjercicioTotalRequest" message="tns:getEjercicioTotal" />
<output wsam:Action="http://process/musicorum/getEjercicioTotalResponse" message="tns:getEjercicioTotalResponse" />
</operation>
<operation name="getEjercicioExitos">
<input wsam:Action="http://process/musicorum/getEjercicioExitosRequest" message="tns:getEjercicioExitos" />
<output wsam:Action="http://process/musicorum/getEjercicioExitosResponse" message="tns:getEjercicioExitosResponse" />
</operation>
<operation name="addEjerciciosPorAlumno">
<input wsam:Action="http://process/musicorum/addEjerciciosPorAlumnoRequest" message="tns:addEjerciciosPorAlumno" />
<output wsam:Action="http://process/musicorum/addEjerciciosPorAlumnoResponse" message="tns:addEjerciciosPorAlumnoResponse" />
</operation>
<operation name="getEjercicios">
<input wsam:Action="http://process/musicorum/getEjerciciosRequest" message="tns:getEjercicios" />
<output wsam:Action="http://process/musicorum/getEjerciciosResponse" message="tns:getEjerciciosResponse" />
</operation>
<operation name="addEscuela">
<input wsam:Action="http://process/musicorum/addEscuelaRequest" message="tns:addEscuela" />
<output wsam:Action="http://process/musicorum/addEscuelaResponse" message="tns:addEscuelaResponse" />
</operation>
<operation name="deleteAlumno">
<input wsam:Action="http://process/musicorum/deleteAlumnoRequest" message="tns:deleteAlumno" />
<output wsam:Action="http://process/musicorum/deleteAlumnoResponse" message="tns:deleteAlumnoResponse" />
</operation>
<operation name="addUnidad">
<input wsam:Action="http://process/musicorum/addUnidadRequest" message="tns:addUnidad" />
<output wsam:Action="http://process/musicorum/addUnidadResponse" message="tns:addUnidadResponse" />
</operation>
<operation name="updateAlumno">
<input wsam:Action="http://process/musicorum/updateAlumnoRequest" message="tns:updateAlumno" />
<output wsam:Action="http://process/musicorum/updateAlumnoResponse" message="tns:updateAlumnoResponse" />
</operation>
<operation name="getAlumnos">
<input wsam:Action="http://process/musicorum/getAlumnosRequest" message="tns:getAlumnos" />
<output wsam:Action="http://process/musicorum/getAlumnosResponse" message="tns:getAlumnosResponse" />
</operation>
<operation name="getEscuelas">
<input wsam:Action="http://process/musicorum/getEscuelasRequest" message="tns:getEscuelas" />
<output wsam:Action="http://process/musicorum/getEscuelasResponse" message="tns:getEscuelasResponse" />
</operation>
<operation name="getProfesor">
<input wsam:Action="http://process/musicorum/getProfesorRequest" message="tns:getProfesor" />
<output wsam:Action="http://process/musicorum/getProfesorResponse" message="tns:getProfesorResponse" />
</operation>
<operation name="checkUsername">
<input wsam:Action="http://process/musicorum/checkUsernameRequest" message="tns:checkUsername" />
<output wsam:Action="http://process/musicorum/checkUsernameResponse" message="tns:checkUsernameResponse" />
</operation>
<operation name="escuelaLogin">
<input wsam:Action="http://process/musicorum/escuelaLoginRequest" message="tns:escuelaLogin" />
<output wsam:Action="http://process/musicorum/escuelaLoginResponse" message="tns:escuelaLoginResponse" />
</operation>
<operation name="addAlumno">
<input wsam:Action="http://process/musicorum/addAlumnoRequest" message="tns:addAlumno" />
<output wsam:Action="http://process/musicorum/addAlumnoResponse" message="tns:addAlumnoResponse" />
</operation>
<operation name="getUnidades">
<input wsam:Action="http://process/musicorum/getUnidadesRequest" message="tns:getUnidades" />
<output wsam:Action="http://process/musicorum/getUnidadesResponse" message="tns:getUnidadesResponse" />
</operation>
<operation name="getUnidadById">
<input wsam:Action="http://process/musicorum/getUnidadByIdRequest" message="tns:getUnidadById" />
<output wsam:Action="http://process/musicorum/getUnidadByIdResponse" message="tns:getUnidadByIdResponse" />
</operation>
<operation name="addGrupo">
<input wsam:Action="http://process/musicorum/addGrupoRequest" message="tns:addGrupo" />
<output wsam:Action="http://process/musicorum/addGrupoResponse" message="tns:addGrupoResponse" />
</operation>
<operation name="deleteGrupo">
<input wsam:Action="http://process/musicorum/deleteGrupoRequest" message="tns:deleteGrupo" />
<output wsam:Action="http://process/musicorum/deleteGrupoResponse" message="tns:deleteGrupoResponse" />
</operation>
<operation name="getGruposByEscuela">
<input wsam:Action="http://process/musicorum/getGruposByEscuelaRequest" message="tns:getGruposByEscuela" />
<output wsam:Action="http://process/musicorum/getGruposByEscuelaResponse" message="tns:getGruposByEscuelaResponse" />
</operation>
<operation name="getGruposByProfesor">
<input wsam:Action="http://process/musicorum/getGruposByProfesorRequest" message="tns:getGruposByProfesor" />
<output wsam:Action="http://process/musicorum/getGruposByProfesorResponse" message="tns:getGruposByProfesorResponse" />
</operation>
<operation name="register">
<input wsam:Action="http://process/musicorum/registerRequest" message="tns:register" />
<output wsam:Action="http://process/musicorum/registerResponse" message="tns:registerResponse" />
</operation>
</portType>
<binding name="musicorumPortBinding" type="tns:musicorum">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getUnidadesByAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getGrupoById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addEjercicio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEjercicioFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEjercicioById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addGruposPorProfesor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEjerciciosByAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEstadisticas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEjercicioTotal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEjercicioExitos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addEjerciciosPorAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEjercicios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addEscuela">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addUnidad">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAlumnos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEscuelas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProfesor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escuelaLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUnidades">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUnidadById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addGrupo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteGrupo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getGruposByEscuela">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getGruposByProfesor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="register">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="musicorum">
<port name="musicorumPort" binding="tns:musicorumPortBinding">
<soap:address location="http://musicarum.com:8080/WSMusicorum/musicorum" />
</port>
</service>
</definitions>